<div id="container"></div>

<!--Home Page-->
<div ng-hide="movieResultsSuccess" id="search-input-box" class="border-radius">
	<h2 class="txt-center">Search for Films</h2>

    <!--Set up form for movie search-->
    <form ng-submit="submitSearch($event)">
        <div class="row">
            <div class="col-sm-12">
                <input ng-model="movieQuery" id="movie-title" class="form-control" type="text" placeholder="Movie Title" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 txt-center">
                <button type="submit" id="movie-search-button" class="btn btn-primary margin-top-20">Search</button>
            </div>
        </div>
    <!--End form for movie search-->
    </form>
</div>
<!--/Home Page-->

<div id="movie-card-container"></div>

<!--Movie Cards-->
<div ng-show="movieResultsSuccess">
    <button ng-click="resetSearch()" class="btn btn-success btn-block">Search Again</button>

    <div ng-repeat="movie in movies" class="movie-card border-radius margin-top-20">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ movie.Poster }}" class="img-responsive movie-poster" />
            </div>
            <div class="col-sm-8">
                <h3 style="margin-top:0;">{{ movie.Title }}</h3>

                <div class="row margin-top-20">
                    <div class="col-sm-4">
                        <strong>Year: </strong>{{ movie.Year }}
                    </div>
                    <div class="col-sm-4">
                        <strong>Rated: </strong>{{ movie.Rated }}
                    </div>
                    <div class="col-sm-4">
                        <strong>Released: </strong>{{ movie.Released }}
                    </div>
                </div>

                <div class="row margin-top-20">
                    <div class="col-sm-4">
                        <strong>Runtime: </strong>{{ movie.Runtime }}
                    </div>
                    <div class="col-sm-4">
                        <strong>Genre: </strong>{{ movie.Genre }}
                    </div>
                    <div class="col-sm-4">
                        <strong>Director: </strong>{{ movie.Director }}
                    </div>
                </div>

                <div class="row margin-top-20">
                    <div class="col-sm-12">
                        <strong>Actors: </strong>{{ movie.Actors }}
                    </div>
                </div>

                <div class="row margin-top-20">
                    <div class="col-sm-12">
                        <strong>Plot: </strong>{{ movie.Plot }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Movie Cards-->